<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="./stylesheets/app.css">
</head>

<body>
  <div class="row">
    <div class="large-8 columns">EXAMEN RECU M8 - MOHA</div>
    <div class="large-4 columns menu1">
      <ul class="menu simple  ">
  <li class="home">HOME</li>
  <li class="home1">SERVICES</li>
  <li class="home1">PORTFOLIO</li>
<i class="fa fa-lock"></i>
</ul>
    </div>
</div>


<div class="segundoparrafo">
    <div class="medium-3 medium-offset-2 ">
      <p class="unique1">Unique Soluctions</p>
      <h5 class="unique2">Breatures who have been utterly</h5>
      <button class="alert hollow button botonrosa" href="#">Learn More</button>

    </div>
    <div class="small-4 small-offset-6 foto">
      <img src="img/llibreta.jpg"/>

    </div>
</div>

<div class="row medium-uncollapse large-collapse tercerparafo">
  <div class="small-10 columns pellen">
  Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas
  </div>
  <div class="small-2 columns">
  <a class="success button boton2" href="#">Free Download Nova</a>
  </div>
</div>

<div class="row cuartaparafo">
  <div class="large-12 columns terstique">  Terstique senectus et netus et malesuada fames ac turpis egestas. vestibulum torto quam, feugiat vitae, ultricies eget, tempor sit amet.</div>
</div>


<div class="quintoparafo">
  <div class="large-12 columns titulo">What We Offer</div>
  <div class="large-12 columns titulopeke">Look at some of the recent projects we have completed for out valuble clients</div>

  <div class="row columnas">
    <i class="fa fa-globe planeta"></i>
    <div class="small-4 columns color1">Web Design</div>
    <i class="fa fa-thumbs-o-up megusta"></i>
    <div class="columns color1">Graphic Design</div>
    <i class="fa fa-leaf hoja"></i>
    <div class="columns color1">Email Marketing</div>
  </div>
  <div class="row  ">
    <div class="small-4 columns color2 columnas1">pellenstesuqe habitant morbi tristique senectus et netus et malesuada fanes ac turpi. Vestibulum tortor quam, feugiat. ultrices eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Anean ultricies mi vitae est. Mauris placerat eleifend leo.</div>
    <div class="columns color2 columnas2">pellenstesuqe habitant morbi tristique senectus et netus et malesuada fanes ac turpi. Vestibulum tortor quam, feugiat. ultrices eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Anean ultricies mi vitae est. Mauris placerat eleifend leo.</div>
    <div class="columns color2 columnas3">pellenstesuqe habitant morbi tristique senectus et netus et malesuada fanes ac turpi. Vestibulum tortor quam, feugiat. ultrices eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Anean ultricies mi vitae est. Mauris placerat eleifend leo.</div>
  </div>
  </div>

  <div class="row sexstoparafo">
    <div class="small-12 large-expand columns">ADDRESS</div>
    <div class="small-12 large-expand columns">OUR COMPANY</div>
    <div class="small-12 large-expand columns">ARCHIVES</div>
    <div class="small-12 large-expand columns">FLICKER GALLERY</div>
  </div>

  <div class="row columna5 ">
    <div class="small-12 large-expand columns">

    <p>
        <i class="fa fa-home"></i>
      <b>Address</b>: 1032 Wayback Lane
    </p>
    <p>
      <i class="fa fa-envelope"></i>
      <b>Email</b>: suport@email.com
    </p>
    <p>
      <i class="fa fa-globe"></i>
      <b>Website</b>: www.donain.com
    </p>

    </div>
    <div class="small-12 large-expand columns">
      <p>
      > About Us
      <p>
        > Support
      </p>
      <p>
          > Terms of Use
      </p>
      <p>
          > Privacy Policy
      </p>
    </div>
    <div class="small-12 large-expand columns">
      <p>
      > August 2012 (29)
      <p>
        > july 2012 (1)
      </p>
      <p>
          > June 2012 (31)
      </p>
      <p>
          > Privacy Policy
      </p>
    </div>
    <div class="small-12 large-expand columns imagen">
      <img src="img/1.png"/>
          <img src="img/1.png"/>
              <img src="img/1.png"/>
                  <img src="img/1.png"/>
                      <img src="img/1.png"/>
                          <img src="img/1.png"/>
                              <img src="img/1.png"/>
                                  <img src="img/1.png"/>


    </div>
  </div>


  <div class="row columna12">
    <div style="color: #424242; padding-top:8px;"class="large-8 columns">@ 2013 M8. All Rights Reserved.</div>
  <div style="color: white; left: 5px;;"class="large-4 columns"><i class="fa fa-facebook">
    <i class="fa fa-twitter"></i>
  </i></div>
  </div>



</body>

</html>
